/* Change the cyan color to use the blue instead */
.mtk10 {
    color: #61AFEF !important;
}

/* Fixes alignment issues with relative line numbers */
.relative-current-line-number{
    text-align: center !important;
    padding-left: 8px;
}

/* Gets rid of the Gear Icon and Action Icon */
.action-toolbar-container {
    display: none !important;
}

/* Hides the VSCode logo when the editor is empty. */
.letterpress {
    display: none !important;
}

/* Hide the Custom CSS Icon in the Status Bar */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
    display: none !important;
}

/* Fading scrollbars for editor instances */
.editor-container .scrollbar {
    transition: opacity 0.3s ease-out !important;
}
